<%- include('partials/header') %>
    <form action="/signup" class="form-signin" method="POST">
      <img class="mb-4" src="https://image.shutterstock.com/image-vector/abstract-green-swirl-logo-sample-260nw-413126230.jpg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputEmail" class="sr-only">First Name</label>
      <input type="text" name ="name"id="inputEmail" class="form-control" placeholder="First Name" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="text" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up!</button>

    </form>
<%- include('partials/footer') %>
